.usercard {
  border: 1px solid black;
  box-shadow: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 10px;
  margin: 20px;
  background: cyan;
}

p {
  font-size: 1.2rem;
  margin: 5px;
}

.picture {
  width: 200px;
}
